@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECEBE4!important;
}

.jumbotron {
 background-color: #ECEBE4 !important;
 padding: 30px !important;
}
.gamediv {
  margin-bottom: 1rem!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.board-16 {
  display: grid; 
  grid-template-columns: 1in 1in 1in 1in;
  grid-template-rows: 1in 1in 1in 1in;
}

.board-8 {
  display: grid; 
  grid-template-columns: 1in 1in 1in 1in;
  grid-template-rows: 1in 1in;
}

.board-20 {
  display: grid; 
  grid-template-columns: 1in 1in 1in 1in 1in;
  grid-template-rows: 1in 1in 1in 1in;
}

.cell-container {
  border:solid;
  border-color: #ECEBE4;
  background-color: #e0574f;
  height: 1in; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.cell {
  padding: 30px;
}

.tile {
  display:block;
  margin:auto;
}

.game-text{
  text-align: left;
}

.counter {
  margin: 30px;
}

header {
  height: 10%;
  background-color: #c0392b;
}

#logo {
    width: 30%;
    height: auto;
}
.navbar-light .navbar-text a {
  color: #ECEBE4!important;
}

.navbar-text {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #ECEBE4!important;
  padding-left: 25px;
  cursor: pointer;
}

.navbar{
  background-color: #c0392b;
  color: #ECEBE4!important;
  font-size: 1.8em !important;
}

/* ----------------------- */
/* LOGIN CSS */
/* ----------------------- */

.login-container{
  margin-bottom: 5%;
}
.login-form-1{
  padding: 4%;
  background:#60a3bc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  margin-bottom:6%;
  color:#fff;
}
.login-form-2{
  padding: 4%;
  background: #c0392b;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  margin-bottom:6%;
  color: #fff;
}
.btnSubmit{
  font-weight: 600;
  width: 50%;
  color: #60a3bc;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding:2%;
}
.label-country {
  color: white;
}
/* ----------------------- */
/* LEADERBOARD CSS */
/* ----------------------- */

.flag{
  height: 25px;

  border-radius: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.username {
  padding-left: 10px;
}

.leaderboardContainer {
  display: flex;
  flex-direction:row;
}

.leaderboard {
  margin:15px;
  width: 33%;
  height: 308px;
  background: linear-gradient(to bottom, #60a3bc, #60a3bc);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}
.leaderboard h1 {
  font-size: 18px;
  color: #e1e1e1;
  padding: 12px 13px 18px;
  font-weight: bold;
}
.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}

.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 15px;
  counter-increment: leaderboard;
  padding: 15px 10px 18px 0px;
}

.leaderboard ol li mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 10px;
  margin: 0;
  background: none;
  color: #fff;
  font-weight: bold;
}

.leaderboard ol li small {
  display: block;
  text-align: right;
  font-weight: bold;
  color: #fff;
}

.leaderboard ol li:nth-child(1) {
  background: #fa6855;
}

.leaderboard ol li:nth-child(2) {
  background: #e0574f;
}

.leaderboard ol li:nth-child(3) {
  background: #d7514d;
}

.leaderboard ol li:nth-child(4) {
  background: #cd4b4b;
}
.leaderboard ol li:nth-child(5) {
  background: #c0392b;
  border-radius: 0 0 10px 10px;
}

/* ----------------------- */
/* USERHOMEPAGE CSS */
/* ----------------------- */

#our-stats{
	padding: 30px 0;
}

#our-stats .h1{
    color: #c0392b!important;
}

#our-stats .counter {
    background-color: #60a3bc;
    border-color: #c0392b;
    border: solid;
    padding: 35px 0;
    border-radius: 5px;
    color: white;
}

#our-stats .counter p{
    font-style:italic;
    margin-bottom:0;
}

/* ----------------------- */
/* ABOUT PAGE CSS */
/* ----------------------- */

.how-section1{
  margin-top:-15%;
  padding: 10%;
}
.how-section1 h4{
  color: #cd4b4b;
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading{
  color: #60a3bc;
  font-size: 20px;
}
.how-section1 .row{
  margin-top: 10%;
}
.how-img {
  text-align: center;
}
.how-img img{
  width: 40%;
}

.footer {
  background-color: #c0392b;
  height:30px; 
  width: 100%; 
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
}

/* ----------------------- */
/* WIN MODAL CSS */
/* ----------------------- */

.btn-primary {
  color: #fff;
  background-color: #d7514d !important;
  border-color:#c0392b !important;
}

.modal-dialog {
  position: relative;
  top: 15%;
}
.win {
  text-align: center;
  background-color: #60a3bc;

}

.win button{
  background-color: #c0392b;
  color: #ECEBE4;
  margin-bottom: 10px;
}

/* ----------------------- */
/* SHARE BTN CSS */
/* ----------------------- */

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.avatar {
  max-width: 10% !important;
  height: auto;
}

a {
  color: #ECEBE4 !important;
}

/* ----------------------- */
/* SOUND SLIDER CSS */
/* ----------------------- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c0392b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c0392b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.game-form{
  padding: 3%;
  margin: 3% 25% 3% 25%;
  background:#60a3bc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
color: #ECEBE4;
}

label {
  padding-right: 10px;
  color: #000;
  font-weight: bold;
}
.chart {
  margin-bottom: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}