body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  display: grid; 
  grid-template-columns: 1in 1in 1in 1in;
  grid-template-rows: 1in 1in 1in 1in;
  margin: 2in;
  
  
}
.cell-container {
  border:solid;
  background-color: rgb(129, 231, 242);
}

.cell {
  
  padding: 30px;

}